node_modules
npm-debug.log
dist
build
.env
.env.*
coverage
logs
*.log
Dockerfile
docker-compose.yml
test
tests
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.idea
*.vscode
